<h2>Cadastrar Produto</h2>
<div style="margin-top: 10; ">
    <div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCodigo">Codigo</label>
                <input [(ngModel)]="produto.codigo" type="number" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="inputDescricao">Descrição</label>
                <input [(ngModel)]="produto.descricao" type="text" class="form-control">
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCodigo">Quantidade</label>
                <input [(ngModel)]="produto.quantidade" type="number" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCategoria">Categoria</label>
                <select [(ngModel)]="produto.categoria" id="inputCategoria" class="form-control">
                    <option selected>Selecione...</option>
                    <option value="Bebidas">Bebidas</option>
                    <option value="Escritorio">Escritorio</option>
                    <option value="Alimento">Alimento</option>
                    <option value="Decoracao">Decoracao</option>
                </select>
            </div>
        </div>
        <button (click)="adicionarProduto()" type="buton" class="btn btn-primary">Gravar</button>
    </div>


</div>