<h2>Minha Agenda</h2>
<div style="margin-top: 10; ">
    <div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputDescricao">Descrição</label>
                <input [(ngModel)]="compromisso.descricao" type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="inputHorario">Horario</label>
                <input [(ngModel)]="compromisso.horario" type="datetime-local" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="inputTipo">Tipo</label>
            <select [(ngModel)]="compromisso.tipo" id="inputTipo" class="form-control">
                <option selected>Selecione...</option>
                <option value="Aula">Aula</option>
                <option value="Reuniao">Reuniao</option>
                <option value="Trabalho">Trabalho</option>
            </select>
        </div>
        <button (click)="adicionarCompromisso()" type="buton" class="btn btn-primary">Gravar</button>
    </div>

    <div>
        <h4 style="margin-top: 10; ">Lista de Compromissos</h4>
        <table class="table table-striped">
            <tr>
                <th>Descrição</th>
                <th>Horario</th>
                <th>Tipo</th>
            </tr>
            <tr *ngFor="let item of listaCompromisso">
                <td>{{item.descricao}}</td>
                <td>{{item.horario.toLocaleDateString()}} {{item.horario.toLocaleTimeString()}}</td>
                <td>{{item.tipo}}</td>
            </tr>
        </table>
    </div>

</div>